* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60vw;
    height: 60vh;
    background-color: rgb(255, 252, 233);
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2rem;
}

.choice-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.player-choice {
    height: 2rem;
    width: 5rem;
}
