* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 80vh;
    height: 80vh;
    padding: 2rem;
    background-color: rgb(255, 252, 233);
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2rem;
}

.choice-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 70vh;
    margin: auto 0;
}

.dash {
    width: 2rem;
    height: 0.5rem;
    background-color: black;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.player-name {
    text-align: center;
}

.score {
    width: 20vh;
    height: 20vh;
    border: 2px solid gray;
    border-radius: 0.5rem;
}

.choice {
    text-align: center;
    height: 1rem;
}

.menu {
    border: 1px solid black;
    height: 10vh;
}

.action {
    font-family: sans-serif;
    font-size: 1.2rem;
}

.player-choice {
    height: 7vh;
    width: 20vh;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 2rem;
}

.text {
    border: 1px solid black;
    height: 10vh;
}

