* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60vw;
    height: 60vw;
    background-color: rgb(255, 252, 233);
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2rem;
}

.choice-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.player-choice {
    height: 2rem;
    width: 5rem;
}


.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.dash {
    width: 2rem;
    height: 0.5rem;
    background-color: black;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.player-name {
    text-align: center;
}

.score {
    width: 15vw;
    height: 15vw;
    border: 2px solid gray;
    border-radius: 0.5rem;
}

.choice {
    text-align: center;
    height: 1rem;
}
